*{
    margin: 0;
    padding: 0;
    outline: 0;
}

canvas{
    position: fixed;
}

body{
    background: black;
}

.main-container{
    width: 300px;
    height: 200px;
    position: absolute;
    background: black;
    z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    border: 1px solid darkred;
}

.inpu-login:first-child{
    margin-top: 50px;
}

.inpu-login{
    margin: 3px 50px;
    height: 25px;
    width: 200px;
    border: 1px solid darkred;
    background: black;
    color: red;
    text-align: center;
}

.inpu-login:focus{
    border-color: red;
}

.button-login{
    margin: 20px 100px;
    background: black;
    padding: 10px 30px;
    color: darkred;
    border: 1px solid darkred;
    font-weight: bold;
    text-transform: uppercase;
}

.button-login:hover{
    color: red;
    border-color: red;
}

.button-login:active{
    background: red;
    color: black;
}

p{
    color: wheat;
}